<h1>Welcome to BodSpeak</h1>
<p1>"                                         About BodSpeak"</p1>
<h1>Sign in</h1>

<div class="container">
<div class="row">
  <div class="span6 offset5">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <div class="column">
                  </div>
        <%= f.text_field :email %>
        </div>
        </div>

        <%= f.label :password %>
        <div class="column">
        </div>
        <%= f.password_field :password %>

        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>


    <p>New user? <%= link_to "Sign up", signup_path %></p>
    </div>
